/* Dark Theme */
:root {
    --background-color: black;
    --secondary-background-color: #151515;
    --light-background: #202020;
    --survey-background: #2d2d2a;
    --survey-sec-background: #4f4e4e;
    --survey-voted_background: rgba(0, 0, 0, 0.67);
    --medium_color: #666666;
    --light-border-color: #999999;
    --text-color: white;
    --primary-border-color: white;
    --secondary-border-color: #262424;
    --switch-background-color: rgba(86, 86, 86, 0.44);
    --switch-color: #a4a2a2;
    --box-disabled: #3f3d3d;
    --bluish: #84cbff;
}

/* Light Theme */
body.light-theme {
    --background-color: white;
    --secondary-background-color: #e3e3e3;
    --light-background: #d9d9d9;
    --survey-background: #e1e1e1;
    --survey-sec-background: #eae9e9;
    --survey-voted_background: rgba(255, 255, 255, 0.67);
    --medium_color: #f1f1f1;
    --light-border-color: #656565;
    --text-color: black;
    --primary-border-color: black;
    --secondary-border-color: #c5c3c3;
    --switch-background-color: rgba(189, 189, 189, 0.44);
    --switch-color: #4f4e4e;
    --box-disabled: #cbc5c5;
    --bluish: #0891ff;
}

html {
    height: 100%;
}

body {
    margin: 0;
    outline: none;
    padding: 0;
    background: var(--background-color);
    color: var(--text-color);
    text-align: center;
    overflow-y: scroll;
    min-height: 100%;
    opacity: 0;
    font-family: Arial, serif;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.body-fade-in {
    -webkit-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

img {
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

#brand {
    position: absolute;
    left: 10px;
    top: 11px;
    width: 140px;
    outline: none;
}

    #brand.mobile{
        display:none;
    }

    .mobile-menu.mobile[data-state=open] #brand.mobile{
        height: auto;
        top: 0;
        width: 8rem;
        display: unset;
        margin-top: 10px;
    }

#linkedin {
    position: absolute;
    left: 157px;
    top: 13px;
    height: 25px;
    outline: none;
}

#linkedin.mobile {
    display: none;
}

#topic {
    margin: 2em auto 0;
    border-radius: 0.5em;
    color: #fc91f5;
    height: fit-content;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    background: #800176;
    border: 2px dotted #fc91f5;
}

    #topic.desktop {
        min-width: 50%;
    }

    #topic.mobile {
        min-width: 90%;
    }


a {
    color: #ee01da;
    cursor: pointer;
}

#newroundbtn {
    background: var(--background-color);
    border: 1px solid var(--primary-border-color);
    color: var(--text-color);
    text-align: center;
    outline: none;
}

    #newroundbtn.desktop{
        font-size: medium;
        padding: 5pt;
        margin-top: 20px;
        width: 200px;
        border-radius: 15pt;
    }

    #newroundbtn.mobile{
        font-size: 1rem;
        border-radius: 2rem;
    }

    #newroundbtn.mobile[data-state=open]{
        z-index: 5;
        top: 15px;
        left: 40%;
        position: absolute;
        padding: 0.2rem 0.8rem;
    }

    #newroundbtn.mobile[data-state=closed]{
        display: none;
    }

    #newroundbtn:hover {
        border-color: var(--bluish);
        color: var(--bluish);
    }


#teaminput {
    background: var(--background-color);
    border: 1px solid var(--primary-border-color);
    color: var(--text-color);
    font-size: medium;
    padding: 5pt;
    text-align: center;
    margin-top: 60px;
    width: 250px;
    border-radius: 5pt;
    outline: none;
}

#teaminput:hover {
    outline: none;
    border-color: var(--bluish);
    text-align: left;
    background-size: 18pt;
    background-repeat: no-repeat;
    background-position: center right;
}

#teaminput:focus {
    outline: none;
    border-color: var(--bluish);
    text-align: left;
    background-size: 18pt;
    background-repeat: no-repeat;
    background-position: center right;
    box-shadow: 0 0 8px 2px rgba(132, 203, 255, 0.6); /* Hinzugefügter Schatten */
}


#teambtn {
    background: var(--background-color);
    border: 1px solid var(--primary-border-color);
    color: var(--text-color);
    font-size: medium;
    padding: 5pt;
    text-align: center;
    margin-top: 60px;
    width: 200px;
    border-radius: 15pt;
    display: initial;
}

#teambtn:hover {
    border-color: var(--bluish);
    color: var(--bluish);
}

#teamlink {
    background: var(--background-color);
    border: 1px solid var(--primary-border-color);
    color: var(--text-color);
    font-size: medium;
    padding: 5pt;
    text-align: center;
    margin-top: 60px;
    width: 200px;
    border-radius: 15pt;
    display: none;
}

    #teamlink:hover {
        border-color: var(--bluish);
        color: var(--bluish);
    }

.instruction {
    color: var(--text-color);
    width: fit-content;
    text-align: left;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}




.controls {
    width: auto;
    position: absolute; /* or 'static' if the parent container handles positioning */
    bottom: 0; /* Adjust or remove based on your layout */
    margin: 0 auto; /* Only necessary if not using flex on the parent */
    transition: height 0.8s ease-in-out;
}

.display_unset{
    display: unset;
}

.display_block{
    display:block;
}
.display_none{
    display:none;
}

.display_flex{
    display: flex;
}

.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

    .controls.mobile{
        position:absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        background: var(--background-color);
    }

    .controls.desktop{
        background: var(--background-color);
        border-top: 2px solid var(--secondary-border-color);
        width: auto;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 5px;
        border-top-left-radius: 45px;
        border-top-right-radius: 45px;
        height: 90px;
    }

    .show_card_stats.desktop {
        height: 165px;
    }


    .controls img.desktop {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .controls img.mobile {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .controls img.mobile{
        width: 55px;
        height: auto;
        align-self: center;
        float: right;
    }

    .controls img.desktop{
        width: 45px;
        box-shadow: 0 0 0 0 var(--secondary-border-color);
        border-bottom: 1px solid transparent;
        transition: box-shadow 0.8s ease-in-out;
        padding-bottom: 10px;
        cursor: not-allowed;
    }

        .controls .ctl_hover.desktop {
            cursor: pointer;
        }

        .controls .ctl_hover.mobile{

        }

        .controls .ctl_hover.desktop:hover {
            border-bottom: 1px solid var(--primary-border-color);
        }

        .controls .ctl_hover.mobile:hover {

        }

        .controls .off {
            display: none;
        }
        .controls .on {
            display: unset;
        }

    .controls .selected.desktop {
        border-bottom: 1px solid var(--primary-border-color);
    }

    .controls .selected.mobile {
        border-top: 1px solid var(--primary-border-color);
        border-left: 1px solid var(--primary-border-color);
        border-right: 1px solid var(--primary-border-color);
        background-color: var(--secondary-background-color);
    }

    .controls .ctl {
        margin-left: 2px;
        margin-right: 2px;
    }

    .ctl_as_guest {
        filter:  grayscale(100%);
    }

    .controls .ctl.mobile{
        flex: 0 0 auto;
    }

    .controls .ctl.desktop{
    }

div#cbox {
    margin-top: 2em;
    outline: none;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: center;
    position: relative;
    transition: height 1s;
}

.c {
    position: absolute;
    left: 0;
    text-align: left;
    display: inline-block;
    margin: 4px;
    border-radius: 15px;
    background: var(--secondary-background-color);
}

.c_move {
    transition: left 1s, top 1s;
}

    .c_fade-in {
        animation: fade-in 0.9s forwards;
    }
    @keyframes fade-in {
        0% {opacity: 0;}
        75% {opacity: 0;}
        100% {opacity: 1;}
    }

    .c.mobile {
        width: 100px;
    }


    .c .background {
        display: block;
        border: 1px solid var(--light-border-color);
        border-radius: 15px;
    }

        .c .background.mobile {
            width: 100%;
            height: 100%;
        }

        .c .background.desktop {
            width: 100px;
            height: 148px;
        }

    .c:hover .delete.desktop {
        display: block;
        cursor: pointer;
    }

    .c:hover .background {
        border-color: var(--bluish);
    }


    .c .delete {
        position: absolute;
        bottom: -10px;
        right: 5px;
        border: 1px solid var(--bluish);
        border-radius: 100%;
        background: var(--background-color);
    }

    .c .delete.mobile{
        width:20%;
        height:auto;
    }

    .c .delete.desktop {
        display: none;
        width: 20px;
        height: 20px;
    }

        .c .delete.desktop:hover {
            content: url('../src/delete_red.png');
            border-color: #df3636;
        }

    .c span {
        position: absolute;
        top: 4px;
        width: 100%;
        line-height: 2em;
        text-align: center;
        color: var(--text-color);
    }

    .c span.mobile{
        font-size: 0.8rem;
    }

    .c span.desktop{
        font-size: 8pt;
    }

    .cardValueChanged {
        animation: shake 1s ease-in-out;
    }


@keyframes shake {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-7px);
    }
    60% {
        transform: translateY(5px);
    }
    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}

.topnav_title {
    position: relative;
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
    .topnav_title.mobile {
        top:20px;
        font-size: 12pt;
    }

    .topnav_title.desktop {
        top: 15px;
        font-size: 16pt;
        cursor: pointer;
    }

.topnav_title>div {
    display: inline;
}

.topnav_clink {
    position: absolute;
    border: 1px solid var(--primary-border-color);
    border-radius: 0.6rem;
    padding: 0.3rem 0.5rem;
    margin-left: 0.6rem;
    transition: transform 2s ease-in-out;
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--background-color);
}

    .topnav_clink.mobile {
        top: -4px;
        font-size: 8pt;
        left: 5px;
    }

    .topnav_clink.desktop {
        top: 0;
        font-size: 8pt;
        cursor: pointer;
    }

#team_name:hover~.topnav_clink {
    color: var(--bluish);
    border-color: var(--bluish);
}

.topnav_clink:hover {
    color: var(--bluish);
    border-color: var(--bluish);
}

#show_qr_code {
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 5.3rem;
    background-image: url("../src/open_qr_code_icon.png");
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

#show_qr_code.mobile {
    visibility: hidden;
}


#show_qr_code:hover {
    background-image: url("../src/open_qr_code_icon_hover.png");
}

.mobile-menu {

}

.container{
    height: 100vh;
    position: relative;
}

.up-container{
    top: 0;
    position: absolute;
    height: 89vh;
    width: 100%;
}

    .up-container.desktop{
        overflow: hidden;
    }

    .up-container.mobile{
        overflow-y: scroll;
    }

.down-container{
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.mobile-menu.desktop {
    top: 0;
    width: 100%;
    position: absolute;
    z-index: 1;
}

    .mobile-menu.desktop .open_menu{
        display: none;
    }

.mobile-menu.mobile[data-state=closed]  {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

        .mobile-menu.mobile[data-state=closed] .open_menu{
            height: auto;
            width: 100%;
            z-index:2;
        }

        .mobile-menu.mobile[data-state=open] .open_menu{
            display: none;
        }

    .close-menu{
        display: none;
    }

    .mobile-menu.mobile[data-state=open] .close-menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 10px;
        height: 30px;
        width: 30px;
        background-image: url("../src/cross_black.png");
        background-size: 100%;
        background-repeat: no-repeat;
    }

        .mobile-menu.mobile .close-menu:active{
            filter: invert(100%);
        }

    .mobile-menu.mobile[data-state=open] {
        position: absolute;
        width: 95%;
        height: 99%;
        min-height: 95%;
        right: 2.5%;
        top: 5px;
        background-color: var(--survey-sec-background);
        z-index: 1;
        border-radius: 2rem;
        background-image: unset;
    }

    .mobile-menu.mobile[data-state=open] .topnav_btn{
        display: unset;
        width:10%;
        height: auto;
        top:52px;
    }

    .mobile-menu.mobile #info_btn{
        left:5%;
    }
    .mobile-menu.mobile #cmode_btn{
        left: 5%;
        top: 56px;
        width:13%;
        height:auto;
    }
    .mobile-menu.mobile #user_settings_btn{
        left:23%;
    }

    .mobile-menu.mobile #topic_btn{
        left:37%;
    }

    .mobile-menu.mobile #cset_btn{
        left:51%;
    }

    .mobile-menu.mobile #stopwatch_btn{
        left:65%;
    }

    .mobile-menu.mobile #feedback_btn{
        left:79%;
    }

.survey-container {
    font-size: small;
    width:auto;
    max-width: 18rem;
    position:absolute;
    bottom:0;
    right:0;
    margin:0 auto;
    visibility: hidden;
}

.survey-container.desktop {
    display: unset;
}

.survey-container.mobile {
    display: none;
}

#survey-button {
    cursor:pointer;
    display:block;
    width: auto;
    margin: auto 1rem auto auto;
    padding: 1rem 1rem;
    background: var(--survey-background);
    color: var(--text-color);
    border:0;
    text-align:center;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

#survey-button:hover{
    opacity: 0.7;
}

#survey-content {
    display:block;
    background:var(--survey-background);
    color: var(--text-color);
    width:auto;
    text-align:left;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.survey-closed {
    padding: 0 1rem 0 1rem;
    height:0;
    transition: height 1s ease-out 0s, padding 0.2s ease-out 0.8s;
}

.survey-open {
    padding: 1rem 1rem 1rem 1rem;
    height: 17.5rem;
    transition: height 1s ease-out 0s;
}

#survey_intro{
    margin-bottom: 1rem;
    background-color: var(--survey-sec-background);
    width: auto;
    height: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#vote_options{
    display:block;
    margin-bottom: 1rem;
    background-color: var(--survey-sec-background);
    width: auto;
    height: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.vote_option {
    cursor: pointer;
    display: flex;
    padding: 0.3rem 0 0.3rem 1rem;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 1rem;
    margin: 0.3rem auto;
    width: 99%;
    background-color: transparent;
    justify-content: center;
}

.vote_option:hover{
    background-color: var(--medium_color);
    font-weight: bold;
}

#vote_count{
    margin:auto;
    width:50%

}

#vote_results{
    display:block;
    margin-bottom: 1rem;
    background-color: var(--survey-sec-background);
    width: auto;
    height: auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.vote_results_bar{
    border: 1px solid var(--primary-border-color);
    border-radius: 1rem;
    margin: 0.3rem auto;
    width: 99%;
    text-align: left;
    background-color: transparent;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    display: flex;
    height: auto;
}

.vote_results_bar_value {
    /*animation: load 3s normal forwards;*/
    border-radius: 1rem;
    padding: 0.3rem 0 0.3rem 1rem;
    background: var(--survey-voted_background);
    height: auto;
    width: 0;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
}

.arrow {
    border: solid var(--background-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#survey-button .arrow{
    margin-left: 1rem;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.topnav_btn {
    position: absolute;
    width: 32px;
    top: 14px;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    z-index: 1;
}

    .topnav_btn.mobile{
        display:none;
    }

    .topnav_btn:hover {
        cursor: pointer;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }

    #linkedin_a:hover + #cta_linkedin {
        opacity: 0;
    }

    #user_settings_btn:hover + #cta_user_settings {
        opacity: 1;
    }

    #topic_btn:hover + #cta_topic {
        opacity: 1;
    }

    #cset_btn:hover + #cta_cset {
        opacity: 1;
    }

    #stopwatch_btn:hover + #cta_stopwatch {
        opacity: 1;
    }

    #feedback_btn:hover + #cta_feedback {
        opacity: 1;
    }

.topnav_btn_on {
        cursor: pointer;
        -webkit-transform: scale(1.15);
        transform: scale(1.15);
    }

    #info_btn {
        left: 135px;
    }



    #cmode_btn{
        margin-top: 1px;
        height: 20px;
        width:auto;
    }

    .cmode_btn_init {
        right: 53px;
    }

    .cmode_btn_board {
        right: 192px;
    }

        #cmode_btn:hover{
            -webkit-transform: scale(1);
            transform: scale(1);
        }

    #user_settings_btn {
        right: 154px;
    }

    #topic_btn{
        right: 119px;
    }

    #cset_btn {
        right: 84px;
    }

    #stopwatch_btn{
        right: 49px;
    }

    #feedback_btn {
        right: 14px;
    }

    .cta_design{
        opacity: 0;
        transition: opacity 0.2s;
    }

    #cta_linkedin {
        left :43px;
        top: 30px;
        width: 400px;
        position: absolute;
    }

    #cta_user_settings {
        right :91px;
        top: 39px;
        width: 85px;
        position: absolute;
    }

    #cta_topic {
        right :54px;
        top: 38px;
        width: 140px;
        position: absolute;
    }

    #cta_cset {
        right :33px;
        top: 38px;
        width: 170px;
        position: absolute;
    }

    #cta_stopwatch {
        right :35px;
        top: 39px;
        width: 155px;
        position: absolute;
    }

    #cta_feedback {
        right :20px;
        top: 40px;
        width: 160px;
        position: absolute;
    }

    #cta_teaser {
        right :91px;
        top: 39px;
        width: 85px;
        position: absolute;
    }

    #cta_teaser.mobile {
        display: none;
    }

    .cta_design.mobile{
        display:none;
    }

    .cta_teaser.mobile{
        display:none;
    }

    .topnav_btn_bling {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
    }


#info_box {
    position: absolute;
    left: 135px;
    top: 45px;
    border: 1px solid var(--primary-border-color);
    width: 270px;
    height: 310px;
    border-radius: 15px;
    background: var(--light-background);
    display: none;
    z-index: 999999;
}

    #info_box.mobile {
        top: 16%;
        width: 95%;
        height: auto;
        right: 2.5%;
        left: unset;
    }

#info_box>h1 {
    color: var(--text-color);
    font-size: 1em;
}

.stopwatch_control{
    margin-top:1rem;
    cursor: pointer;
}

.stopwatch_control>img{
    width:30px;
    height:auto;
}

.stopwatch_control>input{
    border:none;
    background-color: transparent;
    text-align: center;
    font-size: large;
    vertical-align: super;
    color: var(--text-color);
}

.info_text {
    color: var(--text-color);
    margin: 10px;
    font-size: 10pt;
    text-align: justify;
}

.info_text>.headline {
    font-size: 12pt;
}

.info_text>a {
    color: var(--bluish);
    text-decoration: none;
    font-weight: bolder;
}

.info_text>a:hover {
    color: var(--bluish);
    text-decoration: underline;
}

/* Make it move */
@keyframes marquee {
    0%   { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}


#info_sbmt {
    background: var(--light-background);
    border: 1px solid var(--bluish);
    color: var(--bluish);
    font-size: smaller;
    width: 90%;
    padding: 7px 15px 7px 15px;
    border-radius: 15px;
    transition: width 0.8s;
    cursor: pointer;
}

#info_sbmt:hover {
    width: 60%;
}

#topic_box {
    position: absolute;
    right: 95px;
    top: 45px;
    border: 1px solid var(--primary-border-color);
    width: 200px;
    height: 255px;
    border-radius: 15px;
    background: var(--light-background);
    display: none;
    z-index: 999999;
}

#topic_box.mobile {
    margin-top: 9vh;
    width:95%;
    height: 45%;
    right: 2.5%;
    padding-bottom: 1rem;
}

#topic_txt {
    margin-top: 0.5rem;
    outline: none;
    border: 1px solid var(--light-border-color);
    border-radius: 3pt;
    background: var(--survey-sec-background);
    color: var(--text-color);
    resize: none;
}

#topic_txt.desktop {
    width: 88%;
    height: 170px;
    border-radius: 3pt;
    padding: 5px;
}

#topic_txt.mobile {
    width: 80%;
    height: 6rem;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
}

#feedback_box {
    position: absolute;
    right: 15px;
    top: 45px;
    border: 1px solid var(--primary-border-color);
    width: 200px;
    height: 255px;
    border-radius: 15px;
    background: var(--light-background);
    display: none;
    z-index: 999999;
}

    #feedback_box.mobile {
        margin-top: 9vh;
        width:95%;
        height: 45%;
        right: 2.5%;
        padding-bottom: 1rem;
    }

.feedback_star {
    display: none;
    width: 20px;
    padding: 5px 0;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

    .feedback_star.mobile {
        width: 7%;
        padding: 2% 0;
        transition: all 0.4s ease-out;
    }

    .feedback_star:hover {
        transform: scale(1.2);
    }
    .feedback_star.blink {
        transform: scale(1.4);
    }


#feedback_txt {
    outline: none;
    border: 1px solid var(--light-border-color);
    border-radius: 3pt;
    background: var(--survey-sec-background);
    color: var(--text-color);
    resize: none;
    margin-top: 1em;
}

    #feedback_txt.desktop {
        width: 88%;
        height: 170px;
        border-radius: 3pt;
        padding: 5px;
    }

    #feedback_txt.mobile {
        width: 80%;
        height: 3rem;
        border-radius: 1rem;
        padding: 1rem;
        font-size: 1rem;
    }

.box_sbmt_button {
    background: var(--light-background);
    border: 1px solid var(--light-border-color);
    color: var(--text-color);
}

    .box_sbmt_button.desktop {
        font-size: smaller;
        padding: 4px 15px;
        border-radius: 12px;
        cursor: pointer;
    }

    .box_sbmt_button.mobile {
        font-size: 1rem;
        padding: 0.5rem 0.5rem;
        border-radius: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

.box_sbmt_button:enabled:hover {
    border-color: var(--bluish);
    color: var(--bluish);
}

.box_sbmt_button:disabled {
    border-color: var(--box-disabled);
    color: var(--box-disabled);
    cursor: not-allowed;
}

#cset_box {
    position: absolute;
    right: 50px;
    top: 45px;
    border: 1px solid var(--primary-border-color);
    width: 428px;
    padding-bottom: 1rem;
    height: auto;
    border-radius: 15px;
    background: var(--light-background);
    display: none;
    z-index: 999999;
}

    #cset_box.mobile {
        top: 16%;
        width: 95%;
        height: 80%;
        right: 2.5%;
        overflow: scroll;
    }

#user_settings_box {
    position: absolute;
    right: 60px;
    top: 45px;
    border: 1px solid var(--primary-border-color);
    width: 400px;
    padding-bottom: 1rem;
    height: auto;
    border-radius: 15px;
    background: var(--light-background);
    display: none;
    z-index: 999999;
}

    #user_settings_box.mobile {
        top: 16%;
        width: 95%;
        height: 80%;
        right: 2.5%;
        overflow: scroll;
    }

#cet_toggle_user_type {
    width: 90%;
}

.setup_input_field {
    background: var(--survey-background);
    border: 1px solid var(--light-border-color);
    color: var(--text-color);
    font-size: smaller;
    margin-bottom: 0.5rem;
    padding: 4px 15px;
    border-radius: 12px;
    width: 70%;
}

#cet_pre {
    background: var(--light-background);
    border: 1px solid var(--light-border-color);
    color: var(--text-color);
}

    #cet_pre.desktop {
        font-size: smaller;
        margin-bottom: 1rem;
        border-radius: 12px;
        width: 90%;
    }

    #cet_pre.mobile {
        font-size: 1rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        width: 90%;
    }

    #cet_pre.mobile option{
        font-size: medium;
        top:100%;
    }

#cet_order_by {
    background: var(--light-background);
    border: 1px solid var(--light-border-color);
    color: var(--text-color);
}

#cet_order_by.desktop {
    font-size: smaller;
    border-radius: 12px;
    width: 90%;
}

#cet_order_by.mobile {
    font-size: 1rem;
    border-radius: 1rem;
    width: 90%;
}

#cet_order_by.mobile option{
    font-size: medium;
    top:100%;
}

#cet_anonymous {
    background: var(--light-background);
    border: 1px solid var(--light-border-color);
    color: var(--text-color);
}

#cet_anonymous.desktop {
    font-size: smaller;
    border-radius: 12px;
    width: 90%;
}

#cet_anonymous.mobile {
    font-size: 1rem;
    border-radius: 1rem;
    width: 90%;
}

#cet_anonymous.mobile option{
    font-size: medium;
    top:100%;
}

#cet_dark_side {
    width: 90%;
}

.locked {
    background-image: url('../src/lock.png'); /* Fügt das Schloss-Symbol hinzu */
    background-repeat: no-repeat;
    background-position: 15px center; /* Position des Symbols */
    background-size: 14px;
}

.locked:hover {
    background-image: url('../src/lock_hover.png'); /* Fügt das Schloss-Symbol hinzu */
}

.topnav label {
    display: block;
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 0.1rem;
    font-size: smaller;
    color: var(--switch-color);
    text-align: left;
}

.cs_c {
    border: 1px solid var(--medium_color);
    margin-left: 2px;
    margin-right: 2px;
    filter: grayscale(100%);
    opacity: 0.4;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}
    .cs_c:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 1;
    }

    .cs_c.desktop {
        width: 27px;
        border-radius: 5px;
    }
    .cs_c.desktop:hover {
        cursor: pointer;
    }


    .cs_c.mobile {
        width: 14vw;
        height: auto;
        border-radius: 0.6rem;
    }
    .cs_c.mobile:hover {

    }

.cs_c_on {
    filter: unset;
    border: 1px solid var(--light-border-color);
    opacity: 1;
}

#teamlist {
    text-align: center;
    overflow-y: auto;
    position: absolute;
    left: 0;
    top: 125px;
    bottom: 0;
    right: 0;
}

.teamul {
    list-style-type: none;
}

.teamli {
    color: var(--light-border-color);
    text-decoration: none;
    font-size: large;
}

    .teamli:hover {
        color: var(--text-color);
    }

table {
    color: var(--light-border-color);
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

th, td {
    padding-left: 10px;
    padding-right: 10px;
}

table tr:first-child{
    border-bottom: 1px solid var(--primary-border-color);
}

.feedback {
    color: var(--text-color);
    margin-top: 2em;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    min-width: 500px;
}

.feedback>h1 {
    font-size: 10pt;
    margin: 0.2em;
}

.feedback>div {
    text-align: justify;
    background-color: var(--survey-sec-background);
    padding: 1em;
    font-style: italic;
    border: 1px solid var(--light-border-color);
    border-radius: 0.3em;
}

.switchable{

}

.light{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.cs_c.light{
    -webkit-filter: invert(100%) grayscale(100%);
    filter: invert(100%) grayscale(100%);
}

.cs_c_on.cs_c.light{
    -webkit-filter: invert(100%) grayscale(0%);
    filter: invert(100%) grayscale(0%);
}

.cs_c.dark{
    -webkit-filter: invert(0%) grayscale(100%);
    filter: invert(0%) grayscale(100%);
}

.cs_c_on.cs_c.dark{
    -webkit-filter: invert(0%) grayscale(0%);
    filter: invert(0%) grayscale(0%);
}

.react {
    animation: reaction2 0.8s ease-in-out;
}

@keyframes reaction1 {
    0%   { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

@keyframes reaction2 {
    0%   { transform: scale(1); }
    50%   { transform: scale(1.4); }
    100% { transform: scale(1); }
}

.toggle_container {
    height: 1.55rem;
    border-radius: 1.1rem;
    width: 8rem;
    margin: auto;
    padding: 0.1rem;
    background: var(--secondary-background-color);
    flex-wrap: nowrap;
    position: relative;
    cursor: pointer;
    font-size: x-small;
    color: var(--text-color);
}

.toggle_container .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.2rem;
    border-radius: 1.1rem;
    padding: 0.2rem;
    width: 4rem;
}

#order_by_name_btn{
    text-align: center;
}

#order_by_sequence_btn{
    text-align: center;
}

#order_by_switch{
    width: 45%;
    height: 1.45rem;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
    position: absolute;
    background-color: var(--switch-background-color);
    color: var(--switch-color);
    border-radius: 0.8rem;
    transition: all 0.3s ease;
    display: flex;
    justify-content: left;
    align-items: center;
}

#order_by_switch.by_name{
    left:1.5%;
}

#order_by_switch.by_value{
    left:49%;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#overlay_qr {
    z-index: 99999998;
    background-color: var(--background-color);
    opacity: 85%;
}

#overlay_qr_code {
    z-index: 99999999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#canvas_qr_code {
    position: absolute;
    border: 1px solid var(--primary-border-color);
    border-radius: 40px;
    padding: 20px;
    background-color: var(--background-color);
    opacity: 100%;
}

#overlay_name_input {
    z-index: 99999999;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--background-color);
    opacity: 95%;
    display: flex;
    flex-direction: column; /* Richtet die Kinder vertikal aus */
}

#nameinput {
    background: var(--background-color);
    border: 1px solid var(--primary-border-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 5pt;
    margin-bottom: 2rem;
}

    #nameinput.mobile {
        width: 65%;
        margin-top: 50px;
        line-height: 1.8rem;
        padding: 0.1rem;
        font-size: 1rem;
    }

    #nameinput.desktop {
        font-size: medium;
        padding: 5pt;
        margin-top: 60px;
        width: 200px;
    }

    #nameinput:focus {
        outline: none;
        border-color: var(--bluish);
        text-align: left;
        box-shadow: 0 0 8px 2px rgba(132, 203, 255, 0.6); /* Hinzugefügter Schatten */
    }

    #nameinput:hover {
        border-color: var(--bluish);
    }


.become_user_btn {
    background: var(--background-color);
    border: 1px solid var(--primary-border-color);
    color: var(--text-color);
    text-align: center;
    outline: none;
    justify-content: center;
    margin-bottom: 0.5rem;
}

    .become_user_btn.desktop{
        font-size: medium;
        padding: 5pt;
        width: 200px;
        border-radius: 15pt;
    }

    .become_user_btn.mobile{
        font-size: 1rem;
        border-radius: 1rem;
        width: 65%;
        height: 5rem;
        margin-bottom: 1rem;
    }

    .become_user_btn:hover {
        border-color: var(--bluish);
        color: var(--bluish);
    }

    .become_user_btn:focus {
        outline: none;
        border-color: var(--bluish);
        box-shadow: 0 0 8px 2px rgba(132, 203, 255, 0.6); /* Hinzugefügter Schatten */
    }

    .become_user_btn:disabled {
        color: var(--box-disabled);
        border-color: var(--box-disabled);
        box-shadow: none; /* Kein Schatten */
        pointer-events: none; /* Deaktiviert den Mauszeiger und alle Events */
    }

#removed_msg {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

#removed_msg.desktop {
    width: 450px;
}

#removed_msg.mobile {
    width: 65%;
}

#index {
    position: absolute;
    left: 557px;
    bottom: 77px;
    width: 15px;
    transition: left 0.8s ease-in-out;
}

#index.mobile {
    display: none;
}

@keyframes flashRed {
    0% { background-color: var(--background-color); }
    50% { background-color: #340000; }
    100% { background-color: var(--background-color); }
}

.flash-red {
    animation: flashRed 1.5s ease-in-out;
}

